<div class="flex min-w-0 flex-auto flex-col">
    <div
        class="bg-card flex flex-0 flex-col border-b p-6 sm:flex-row sm:items-center sm:justify-between sm:px-10 sm:py-8 dark:bg-transparent"
    >
        <div class="min-w-0 flex-1">
            <div class="flex flex-wrap items-center font-medium">
                <div>
                    <a class="whitespace-nowrap text-primary-500"
                        >Reservaciones</a
                    >
                </div>
                <div class="ml-1 flex items-center whitespace-nowrap">
                    <mat-icon
                        class="text-secondary icon-size-5"
                        [svgIcon]="'heroicons_mini:chevron-right'"
                    ></mat-icon>
                    <a class="ml-1 text-primary-500">
                        Administración de Reservaciones</a
                    >
                </div>
            </div>
            <div class="mt-2">
                <h2
                    class="truncate text-3xl font-extrabold leading-7 tracking-tight sm:leading-10 md:text-4xl"
                >
                    Administración de Reservaciones
                </h2>
            </div>
        </div>
    </div>

    <div class="flex-auto p-6 sm:p-10">
        <div class="max-w-10xl">
            <div
                class="relative flex flex-0 flex-col border-b px-6 py-8 sm:flex-row sm:items-center sm:justify-between md:px-8"
            >
                <div class="text-3xl font-extrabold tracking-tight">
                    Reservaciones
                </div>
                <div
                    class="mt-6 flex shrink-0 items-center sm:ml-4 sm:mt-0"
                ></div>
            </div>
            <!-- Filtros globales de búsqueda -->
            <div
                class="mb-6 mt-6 rounded-xl bg-gray-50 p-6 shadow-sm dark:bg-gray-800"
            >
                <div class="mb-4 text-sm text-gray-500 dark:text-gray-400">
                    Selecciona una cancha y una fecha para ver la disponibilidad
                </div>

                <div
                    class="flex flex-wrap items-center justify-start gap-6 pl-6"
                >
                    <mat-form-field
                        class="fuse-mat-dense fuse-mat-rounded min-w-72"
                    >
                        <mat-label>Cancha</mat-label>
                        <mat-select
                            [(value)]="selectedCancha"
                            (selectionChange)="onCanchaChange($event)"
                        >
                            @for (item of scenario; track $index) {
                                <mat-option [value]="item.value_key">
                                    {{ item.option_value }}
                                </mat-option>
                            }
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field
                        class="fuse-mat-dense fuse-mat-rounded min-w-72"
                    >
                        <mat-label>Fecha</mat-label>
                        <input
                            matInput
                            [matDatepicker]="picker"
                            [(ngModel)]="selectedFecha"
                            (dateChange)="onFechaChange($event.value)"
                        />
                        <mat-datepicker-toggle
                            matSuffix
                            [for]="picker"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>

                    <button
                        class="ml-4 ml-auto"
                        mat-flat-button
                        [color]="'accent'"
                        (click)="openDialogCrud({}, 'new-register')"
                    >
                        <mat-icon
                            [svgIcon]="'heroicons_outline:plus'"
                        ></mat-icon>
                        <span class="ml-2 mr-1">Reservar</span>
                    </button>
                </div>
            </div>

            <div class="flex-auto">
                <div
                    class="mt-8 overflow-x-auto border-b border-gray-200 shadow sm:rounded-lg"
                >
                    <div class="mat-elevation-z8">
                        <table mat-table [dataSource]="dataSource">
                           

                            <ng-container matColumnDef="columna2">
                                <th mat-header-cell *matHeaderCellDef>Hora</th>
                                <td mat-cell *matCellDef="let register">
                                    {{ register.hour }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="columna3">
                                <th mat-header-cell *matHeaderCellDef>
                                    Responsable
                                </th>
                                <td mat-cell *matCellDef="let register">
                                    {{ register.responsable || '-' }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="columna4">
                                <th mat-header-cell *matHeaderCellDef>
                                    Disponibilidad
                                </th>
                                <td mat-cell *matCellDef="let register">
                                    <span
                                        [ngClass]="
                                            register.disponibilidad === 'LIBRE'
                                                ? 'text-green-600'
                                                : 'text-red-600'
                                        "
                                    >
                                        {{ register.disponibilidad }}
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="accion">
                                <th mat-header-cell *matHeaderCellDef>
                                    Liberar Horario
                                </th>

                                <td mat-cell *matCellDef="let element">
                                    @if (element.disponibilidad !== 'LIBRE') {
                                        <button
                                            mat-icon-button
                                            color="warn"
                                            title="Cancelar Reservación"
                                            (click)="
                                                deleteReservation(element.reservation_id)
                                            "
                                        >
                                            <mat-icon>cancel</mat-icon>
                                        </button>
                                    }
                                </td>
                            </ng-container>

                            <tr
                                mat-header-row
                                *matHeaderRowDef="displayedColumns"
                            ></tr>
                            <tr
                                mat-row
                                *matRowDef="let row; columns: displayedColumns"
                            ></tr>
                        </table>

                        <mat-paginator
                            [pageSizeOptions]="[5, 10, 15]"
                            showFirstLastButtons
                            itemsPerPageLabel="Elementos por página:"
                            nextPageLabel="Siguiente"
                            previousPageLabel="Anterior"
                        >
                        </mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
