<div
    class="flex h-16 flex-0 items-center justify-between bg-primary pl-6 pr-3 text-on-primary sm:pl-8 sm:pr-5"
>
    <div class="text-lg font-medium">
        {{ isTeam ? 'Inscripción por Equipos' : 'Inscripción Individual' }}
    </div>
</div>

<hr />

<div mat-dialog-content>
    <div class="w-full">
        <form [formGroup]="dataFormDinamicModal">
            <div class="mt-8 grid w-full gap-6 sm:grid-cols-4">
                <!-- Deportista principal -->
                <div class="sm:col-span-4">
                    <mat-form-field class="w-full" subscriptSizing="dynamic">
                        <mat-label>Deportista</mat-label>

                        <mat-select
                            formControlName="sportman"
                            [disabled]="readonlyMode"
                        >
                            <mat-option
                                *ngFor="let s of sportsmenCatalog"
                                [value]="s.id"
                            >
                                {{ s.full_name }}
                            </mat-option>
                        </mat-select>

                        <mat-error
                            *ngIf="
                                dataFormDinamicModal
                                    .get('sportman')
                                    ?.hasError('required')
                            "
                        >
                            Campo requerido
                        </mat-error>
                    </mat-form-field>
                </div>

                <!-- Pareja (solo si es team) -->
                @if (isTeam) {
                    <div class="sm:col-span-4">
                        <mat-form-field
                            class="w-full"
                            subscriptSizing="dynamic"
                        >
                            <mat-label>Pareja</mat-label>

                            <mat-select
                                formControlName="partner"
                                [disabled]="readonlyMode"
                            >
                                <mat-option
                                    *ngFor="let s of sportsmenCatalog"
                                    [value]="s.id"
                                >
                                    {{ s.full_name }}
                                </mat-option>
                            </mat-select>

                            <mat-error
                                *ngIf="
                                    dataFormDinamicModal
                                        .get('partner')
                                        ?.hasError('required')
                                "
                            >
                                Campo requerido
                            </mat-error>
                        </mat-form-field>
                    </div>
                }
            </div>

            <div class="mb-10 mt-11 border-t"></div>
        </form>
    </div>
</div>

<div mat-dialog-actions>
    <div class="flex items-center justify-end">
        <button mat-stroked-button type="button" (click)="close()">
            <mat-icon svgIcon="heroicons_outline:x-circle"></mat-icon>Cancelar
        </button>
        <button
            *ngIf="!readonlyMode"
            class="ml-4"
            mat-flat-button
            type="button"
            color="primary"
            (click)="saveData()"
        >
            <mat-icon svgIcon="mat_outline:save"></mat-icon>
            Guardar
        </button>
    </div>
</div>
