<div
    class="flex h-16 flex-0 items-center justify-between bg-primary pl-6 pr-3 text-on-primary sm:pl-8 sm:pr-5"
>
    <div class="text-lg font-medium">Reservación</div>
</div>

<hr />

<div mat-dialog-content>
    <div class="w-full">
        <form [formGroup]="dataFormDinamicModal">
            <div class="mt-8 grid w-full gap-6 sm:grid-cols-4">
                <div class="sm:col-span-2">
                    <mat-form-field class="w-full" subscriptSizing="dynamic">
                        <mat-label>Cancha</mat-label>

                        <mat-icon
                            class="icon-size-5"
                            svgIcon="heroicons_solid:information-circle"
                            matPrefix
                        >
                        </mat-icon>

                        <input
                            matInput
                            type="text"
                            formControlName="scenario_name_display"
                            [readonly]="true"
                        />
                    </mat-form-field>
                </div>
                <div class="sm:col-span-2">
                    <mat-form-field class="w-full" subscriptSizing="dynamic">
                        <mat-label>Fecha de Reservación</mat-label>

                        <mat-icon
                            class="icon-size-5"
                            svgIcon="heroicons_solid:information-circle"
                            matPrefix
                        >
                        </mat-icon>

                        <input
                            matInput
                            type="text"
                            formControlName="date_reservation_display"
                            [readonly]="true"
                        />
                    </mat-form-field>
                </div>
                <div class="sm:col-span-4">
                    <mat-form-field class="w-full" subscriptSizing="dynamic">
                        <mat-label>Deportista</mat-label>
                        <mat-select
                            formControlName="sportman"
                            [disabled]="readonlyMode"
                        >
                            <mat-option
                                *ngFor="let sportman of sportsmenCatalog"
                                [value]="sportman.id"
                            >
                                {{ sportman.full_name }}
                            </mat-option>
                        </mat-select>
                        @if (
                            dataFormDinamicModal
                                .get('sportman')
                                .hasError('required')
                        ) {
                            <mat-error>Campo es requerido</mat-error>
                        }
                    </mat-form-field>
                </div>

                <div class="sm:col-span-2">
                    <mat-form-field class="w-full">
                        <mat-label>Tipo de horario</mat-label>

                        <mat-select
                            formControlName="time_type"
                            [disabled]="readonlyMode"
                        >
                            <mat-option
                                *ngFor="let option of reservationTypeOptions"
                                [value]="option.value"
                            >
                                {{ option.label }}
                            </mat-option>
                        </mat-select>

                        <mat-error
                            *ngIf="
                                dataFormDinamicModal
                                    .get('time_type')
                                    ?.hasError('required')
                            "
                        >
                            Campo requerido
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="sm:col-span-2"></div>
                <div class="sm:col-span-2">
                    <mat-form-field class="w-full">
                        <mat-label>
                            {{
                                dataFormDinamicModal.get('time_type')?.value ===
                                'RANGE'
                                    ? 'Hora inicio'
                                    : 'Hora de reserva'
                            }}
                        </mat-label>

                        <mat-select
                            formControlName="start_time"
                            [disabled]="readonlyMode"
                        >
                            <mat-option
                                *ngFor="let time of timeOptions"
                                [value]="time"
                            >
                                {{ time }}
                            </mat-option>
                        </mat-select>

                        <mat-error
                            *ngIf="
                                dataFormDinamicModal
                                    .get('start_time')
                                    ?.hasError('required')
                            "
                        >
                            Campo requerido
                        </mat-error>
                    </mat-form-field>
                </div>

                @if (dataFormDinamicModal.get('time_type')?.value === 'RANGE') {
                    <div class="sm:col-span-2">
                        <mat-form-field class="w-full">
                            <mat-label>Hora fin</mat-label>

                            <mat-select
                                formControlName="end_time"
                                [disabled]="readonlyMode"
                            >
                                <mat-option
                                    *ngFor="let time of endTimeOptions"
                                    [value]="time"
                                >
                                    {{ time }}
                                </mat-option>
                            </mat-select>

                            <mat-error
                                *ngIf="
                                    dataFormDinamicModal
                                        .get('end_time')
                                        ?.hasError('required')
                                "
                            >
                                Campo requerido
                            </mat-error>
                        </mat-form-field>
                    </div>
                }

                <div class="sm:col-span-2">
                    <mat-form-field class="w-full" subscriptSizing="dynamic">
                        <mat-label>Descripción</mat-label>
                        <input
                            formControlName="notes"
                            type="text"
                            matInput
                            [readonly]="readonlyMode"
                        />
                        @if (
                            dataFormDinamicModal
                                .get('notes')
                                .hasError('required')
                        ) {
                            <mat-error>Campo es requerido</mat-error>
                        }
                    </mat-form-field>
                </div>
            </div>

            <div class="mb-10 mt-11 border-t"></div>
        </form>
    </div>
</div>

<div mat-dialog-actions>
    <div class="flex items-center justify-end">
        <button mat-stroked-button type="button" (click)="close()">
            <mat-icon svgIcon="heroicons_outline:x-circle"></mat-icon>Cancelar
        </button>
        <button
            *ngIf="!readonlyMode"
            class="ml-4"
            mat-flat-button
            type="button"
            color="primary"
            (click)="saveData()"
        >
            <mat-icon svgIcon="mat_outline:save"></mat-icon>Guardar
        </button>
    </div>
</div>
